# mysql
mysql-connector-python
# flask
python-dotenv
flask
flask_sqlalchemy
flask_migrate
flask_login
flask_mail
flask_bootstrap
flask_babel
flask_wtf
flask_cors
flask_docs
flask_httpauth
flask_apscheduler
# test
pytest
coverage
httpie
# deploy
# gunicorn
# fcntl
# coding style
autopep8