{% extends "list.jinja2" %}


{% block button_content %}
    <span class="mx-2 my-2">
        <a href="{{ url_for('main.add_user') }}" class="btn btn-primary">{{ _('Add User') }}</a>
    </span>
{% endblock %}


{% block table_content %}
    {% include 'main/user_table.jinja2' %}
{% endblock %}
