version: '3'
services:
  flask_quickstart_app:
    image: flask_quickstart:deploy_date
    container_name: flask_quickstart_app
    network_mode: host
    restart: always
    environment:
      APP_NAME: flask_quickstart
      SECRET_KEY: a_random_and_long_string
      DB_SERVER: localhost
      DB_PORT: 33060
      DB_USERNAME: flask_quickstart
      DB_PASSWORD: MySQL@flask_quickstart123456
      DB_DATABASE: flask_quickstart
      MAIL_SERVER:
      MAIL_PORT:
      MAIL_USE_SSL:
      MAIL_USERNAME:
      MAIL_PASSWORD:
      MAIL_ADMINS:
    volumes:
      - /etc/localtime:/etc/localtime
      - /etc/timezone:/etc/timezone
      - /project_home/log/flask_quickstart/nginx:/var/log/flask_quickstart
      - /project_home/log/flask_quickstart/supervisor:/var/log/supervisor
      - /project_home/log/flask_quickstart/log:/exec/log
      - /project_home/log/flask_quickstart/tmp:/exec/tmp
