{% extends "base.jinja2" %}


{% block app_content %}
    <div class="my-3">
        {% block button_content %}{% endblock %}
    </div>

    <div class="my-3">
        {% block table_content %}
            {% include 'table.jinja2' %}
        {% endblock %}
    </div>

    {# 底部页码 #}
    {% if res and res.total %}
    <div class="my-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item {% if res.page == 1 %} disabled {% endif %}">
                    <a class="page-link" href="{{ url_for('{}'.format(page_target), page=1) }}">{{ _('First Page') }}</a>
                </li>
                <li class="page-item {% if not res.has_prev %} disabled {% endif %}">
                    <a class="page-link" href="{{ url_for('{}'.format(page_target), page=res.prev_num or '#') }}">{{ _('Previous Page') }}</a>
                </li>
                {% for i in range(max(res.page-3, 1), res.page) %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('{}'.format(page_target), page=i or '#') }}">{{ i }}</a>
                </li>
                {% endfor %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ res.page }}<span class="sr-only">(current)</span></a>
                </li>
                {% for i in range(res.page+1, min(res.page+4, res.pages+1)) %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('{}'.format(page_target), page=i or '#') }}">{{ i }}</a>
                </li>
                {% endfor %}
                <li class="page-item {% if not res.has_next %} disabled {% endif %}">
                    <a class="page-link" href="{{ url_for('{}'.format(page_target), page=res.next_num or '#') }}">{{ _('Next Page') }}</a>
                </li>
                <li class="page-item {% if res.page == res.pages %} disabled {% endif %}">
                    <a class="page-link" href="{{ url_for('{}'.format(page_target), page=res.pages or '#') }}">{{ _('Last Page') }}</a>
                </li>
            </ul>
        </nav>
    </div>
    {% endif %}
{% endblock %}
