<table class="table table-bordered table-hover table-striped">
    <caption>
        {% block table_caption %}{% endblock %}
    </caption>
    <thead>
        {% block table_head %}{% endblock %}
    </thead>
    <tbody>
        {% block table_body %}{% endblock %}
    </tbody>
</table>
